@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

// Set your brand colors
// $nice-blue: #006cff;
// $pink: #FF0E68;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Lato', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $nice-blue;
// $link: $nice-blue;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '~bulma/bulma.sass';

.projects {
  &.section {
    padding: 3rem 0;
  }
  .project {
    background: $black;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;

    &:hover {
      .cover {
        opacity: .35;
        transform: scale(1.2);
        transition: opacity 0.6s ease-in-out, transform 10s ease-in-out;
      }
      .title {
          opacity: 1;
      }
    }

    &.is-3 {
      width: 100%;
      padding-bottom: 100%;

      @include tablet() {
        width: 25%;
        padding-bottom: 25%;
      }

      @include desktop() {
        width: 25%;
        padding-bottom: 25%;
      }
    }

    &.is-6 {
      width: 100%;
      padding-bottom: 100%;

      @include tablet() {
        width: 50%;
        padding-bottom: 50%;
      }

      @include desktop() {
        width: 50%;
        padding-bottom: 50%;
      }
    }

    .cover {
      opacity: 1;
      position: absolute !important;
      top: 0;
      min-height: 100%;
      min-width: 100%;
      transform: scale(1);
      transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    }
    
    .title {
        color: $white;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 1.5rem;
        left: 0;
        opacity: 0;
        padding: 0 1.5rem;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.6s ease-in-out;
    }
  }
}
